nav{background-color: rgb(24, 73, 95);padding:10px;}
nav a {color: rgba(8, 8, 8, 0.671); display: block; padding: 20px;}
h1 {color: rgb(11, 134, 34);}
img {width: 150px; height: auto; border: 1px solid rgb(168, 27, 27);padding: 2px;box-shadow: 0 0 30px rgb(248, 205, 205);}
p {padding: 10pxS;}

